{{- /* Override: nil-safe version of hextra's extract-headings partial */ -}}

{{- with .target -}}
  {{- with .Headings -}}
    {{- range $heading := . -}}
      {{- if and (eq $heading.Level 0) (not $heading.Title) -}}
        {{- $.scratch.Add "keys" (slice $heading.Title) -}}
      {{- else -}}
        {{- $key := (printf "%s#%s" $heading.ID $heading.Title) -}}
        {{- $.scratch.Add "keys" (slice $key) -}}
      {{- end -}}

      {{- $title := (printf "<h%d>%s" $heading.Level $heading.Title) | htmlUnescape -}}
      {{- $.scratch.Add "titles" (slice $title) -}}

      {{- partial "utils/extract-headings.html" (dict
        "target" $heading
        "scratch" $.scratch
        )
      }}
    {{- end -}}
  {{- end -}}
{{- end -}}
