{{- /* Use the shared page-context partial so this shortcode works for both
       URL conventions: multi-product hubs (condition from Site.Params.buildCondition)
       and single-site repos that encode the section in the URL (condition derived
       from the URL section). */ -}}
{{- $ctx := partial "utils/page-context.html" . -}}
{{- $condition := $ctx.condition -}}

{{- if ne $condition "" -}}
    
    <!-- Get the parameters from the shortcode invocation and lowercase them.
    TODO: to enable multiple conditions, we could accept comma-separated lists and split them -->
    {{- $include := .Get "include-if" | default "" -}}
    {{- $include_if := split $include "," -}}
    {{- $exclude := .Get "exclude-if" -}}
    {{- $exclude_if := split $exclude "," -}}

    {{- if and (in $include_if $condition) (in $exclude_if $condition) -}}
        <!-- condition appears in both parameters -->
        {{- errorf "Build condition %q appears in both include-if and exclude-if parameters of conditional-txt shortcode on page %s" $condition .Position -}}
    {{- end -}}

    {{- if isset $.Params "include-if" -}}
        <!-- WARNING substring matches are matches as well! That means, if include-if="foobar", and buildcondition is "foo", you have a match!-->
        {{- if in $include_if $condition -}}
<!-- Do not indent the next Inner line, because the inner becomes a blockquote if the conditional-text is nested in another shortcode  -->
{{- $rendered := $.Page.RenderString (dict "display" "inline") $.Inner -}}
{{- if hasPrefix $.Inner " " }}{{ " " | safeHTML }}{{ end -}}
{{- $rendered | safeHTML -}}
{{- if hasSuffix $.Inner " " }}{{ " " | safeHTML }}{{ end -}}
        {{- else -}}
        {{- end -}}
    {{- else -}}

        {{- if isset $.Params "exclude-if" -}}
            <!-- WARNING substring matches are matches as well! That means, if exclude-if="foobar", and buildcondition is "foo", you have a match!-->
            {{- if in $exclude_if $condition -}}
            {{- else -}}
<!-- Do not indent the next Inner line, because the inner becomes a blockquote if the conditional-text is nested in another shortcode  -->
{{- $rendered := $.Page.RenderString (dict "display" "inline") $.Inner -}}
{{- if hasPrefix $.Inner " " }}{{ " " | safeHTML }}{{ end -}}
{{- $rendered | safeHTML -}}
{{- if hasSuffix $.Inner " " }}{{ " " | safeHTML }}{{ end -}}
            {{- end -}}
        {{- end -}}

    {{- end -}}

{{- end -}}