{{- /* Two supported config shapes for version metadata:
       1. Flat (solo docs, kgateway, test fixture): Site.Params.versions = [...];
          page URL is /{folder}/{linkVersion}/...
       2. Per-section (agentgateway oss): Site.Params.sections.{name}.versions = [...];
          page URL is /{folder}/{section}/{linkVersion}/... where section names
          are the keys of Site.Params.sections. Used when no flat list is set. */ -}}

{{- $versions := .Site.Params.versions -}}
{{- $condition := "" -}}

{{- if $versions -}}
  {{- $version := .Page.FirstSection.RelPermalink -}}
  {{- $version_without_product := replace $version .Site.Params.folder "" -}}
  {{- $condition = trim $version_without_product "/" -}}
{{- else if .Site.Params.sections -}}
  {{- $versions = slice -}}
  {{- range $name, $data := .Site.Params.sections -}}
    {{- with $data.versions -}}
      {{- range . -}}
        {{- $versions = $versions | append . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $parts := split (trim .Page.RelPermalink "/") "/" -}}
  {{- range $i, $p := $parts -}}
    {{- if and (eq $condition "") (index $.Site.Params.sections $p) -}}
      {{- $next := add $i 1 -}}
      {{- if lt $next (len $parts) -}}
        {{- $condition = index $parts $next -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if ne $condition "" -}}
  {{- $include := .Get "include-if" | default "" -}}
  {{- $exclude := .Get "exclude-if" | default "" -}}
  {{- $include_if := split $include "," -}}
  {{- $exclude_if := split $exclude "," -}}
  {{- $currentProduct := .Site.Params.currentProduct | default "" -}}
  {{- $rendered := false -}}
  {{ range $versions }}
    {{- if in $condition .linkVersion -}}
       {{- $versionToml := .version -}}
       {{- $productMatches := or (not $currentProduct) (eq .product $currentProduct) -}}
           {{- if and (in $include_if $versionToml) (in $exclude_if $versionToml) -}}
              {{- errorf "Build condition %q appears in both include-if and exclude-if parameters" $condition -}}
           {{- end -}}
           {{- if isset $.Params "include-if" -}}
             {{- if and (in $include_if $versionToml) $productMatches (not $rendered) -}}
                {{- $.Page.RenderString (dict "display" "inline") $.Inner -}}
                {{- $rendered = true -}}
             {{- end -}}
             {{- else if isset $.Params "exclude-if" -}}
                {{- if and (not (in $exclude_if $versionToml)) $productMatches (not $rendered) -}}
                   {{- $.Page.RenderString (dict "display" "inline") $.Inner -}}
                   {{- $rendered = true -}}
             {{- end -}}
           {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if eq $condition "" -}}
   {{- $include := .Get "include-if" | default "" -}}
   {{- if ne $include "" -}}
        {{- $versionImport := .Get "version" -}}
        {{- $versionAdjusted := "" -}}
        {{- range $versions -}}
          {{- if not $versionAdjusted -}}
            {{- if or (eq .version $versionImport) (eq .linkVersion $versionImport) -}}
              {{- $versionAdjusted = .version -}}
            {{- else if and .ossDir (eq .ossDir $versionImport) -}}
              {{- $versionAdjusted = .version -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
        {{- $currentProduct := .Site.Params.currentProduct | default "" -}}
        {{- $rendered := false -}}
        {{- range $versions -}}
            {{- $versionToml := .version -}}
            {{- $productMatches := or (not $currentProduct) (eq .product $currentProduct) -}}
               {{- if and (in $include $versionToml) (in $include $versionAdjusted) $productMatches (not $rendered) -}}
                      {{- $.Page.RenderString (dict "display" "inline") $.Inner -}}
                      {{- $rendered = true -}}
               {{- end -}}
        {{- end -}}
  {{- end -}}
{{- end -}}

{{- if eq $condition "" -}}
   {{- $exclude := .Get "exclude-if" | default "" -}}
   {{- if ne $exclude "" -}}
       {{- $versionImport := .Get "version" -}}
       {{- $versionAdjusted := "" -}}
       {{- range $versions -}}
         {{- if not $versionAdjusted -}}
           {{- if or (eq .version $versionImport) (eq .linkVersion $versionImport) -}}
             {{- $versionAdjusted = .version -}}
           {{- else if and .ossDir (eq .ossDir $versionImport) -}}
             {{- $versionAdjusted = .version -}}
           {{- end -}}
         {{- end -}}
       {{- end -}}
       {{- $currentProduct := .Site.Params.currentProduct | default "" -}}
       {{- $rendered := false -}}
       {{- range $versions -}}
          {{- $versionToml := .version -}}
          {{- $productMatches := or (not $currentProduct) (eq .product $currentProduct) -}}
            {{- if and (not (or (in $exclude $versionToml) (in $exclude $versionAdjusted))) $productMatches (not $rendered) -}}
                  {{- $.Page.RenderString (dict "display" "inline") $.Inner -}}
                  {{- $rendered = true -}}
            {{- end -}}
          {{- end -}}
       {{- end -}}
{{- end -}}

